@* <form method="post" action="/Home/DeleteAccount">
    @Html.AntiForgeryToken()
    <input type="hidden" value="1026" name="userId"/>
    <button type="submit">Delete My Account</button>
</form> *@
