@model List<Clinic_Management.Models.User>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Slots</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctors in Model)
        {

            <tr>
                <td>@doctors.Id</td>
                <td>@doctors.Name</td>
                <td>@doctors.Email</td>
                <td><a asp-controller="Home" asp-action="DoctorSlots" asp-route-id="@doctors.Id" class="btn btn-primary btn-sm">Slots</a></td>
            </tr>
        }
    </tbody>
</table>