@model List<Seminar>

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Seminars</h1>
            <a asp-controller="Home" asp-action="Index" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h4 text-white">Seminars</a>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Our Seminars</h5>
                    <h1 class="display-6 mb-4">Meet Our Certified & Classical Seminars</h1>
                </div>
            </div>
            @foreach (var seminars in Model)
            {

                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <a asp-controller="Home" asp-action="SeminarDetail" asp-route-id="@seminars.Id">
                                <img class="img-fluid rounded-top w-100" style="height:350px;" src="~/SeminarImages/@seminars.Image" alt="">
                            </a>

                        </div>
                        <a asp-controller="Home" asp-action="SeminarDetail" asp-route-id="@seminars.Id">
                            <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                                <h4 class="mb-2">@seminars.Title</h4>
                                <p class="text-primary mb-0" style="text-align:justify;">@seminars.Description</p>
                            </div>
                        </a>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<!-- Team End -->

